* {
    box-sizing: border-box;
    margin: 0px;
}
body {
    padding: 0;
    margin: 0;
    /* background: linear-gradient(to top left, #EFC1C1, #EFEBA8) no-repeat; */
    background-color: #FFFFFF;
}
.container {
    padding: 0;
    margin: 0;
    position: relative;
    height: 100vh;
    width: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

#heading {
    margin-left: 40px;
}

.nav p {
    margin-right: 40px;
}

#correctans, #wrongans {
    position: absolute;
    height: 50px;
    width: 150px;
    left: 550px;
    top: 90px;
    z-index: 1;
    text-align: center;
    line-height: 45px;
    font-size:20px;
    border-radius: 10px;
}
#correctans {
    background-color: #6BF178;
    box-shadow: 5px 5px 5px #B4F8BB;
    display: none;
    
}

#wrongans {
    background-color: #FF4754;
    box-shadow: 5px 5px 5px #FF99A0;
    display: none;
}

#gamebox {
    background-color: #D7BCE8;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    height: 600px;
    width: 70%;
    top: 150px;
    left: 220px;
    border-radius: 40px;
    display: flex;
}

.left {
    width: 80%;
    margin: 30px 0px 30px 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.left #questionbox {
    height: 70%;
    margin-bottom: 20px;
}

#questionbox #question {
    background-color: #8884FF;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    height: 240px;
    padding: 0px 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 200px;
    line-height: 220px;
}

.q, .a {
    padding: 10px 20px;
}

.left #answers {
    height: 30%;
    display: flex;
    padding: 20px 0 ;
}

#box1, #box2, #box3, #box4 {
    background-color: #68B684;
    flex: 1;
    margin-right: 10px;
    border-radius: 10px;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
    transition: flex 0.5s ease-in-out;
    transition: font-size 0.5s;
    transition: background-color 0.3s ease-in;

}
/* #box2 {
    border: 1px solid black;
    flex: 1;
    margin-right: 10px;
}

#box3 {
    border: 1px solid black;
    flex: 1;
    margin-right: 10px;
} */

#box4 {
    flex: 1;
    margin-right: 0px;
}

#box1:hover, #box2:hover, #box3:hover, #box4:hover {
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    flex: 1.1;
    cursor: pointer;
    font-size: 35px;
    background-color: #95E06C;
}

.right {
    width: 20%;
    margin: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 60px;
}

.right #score {
    background-color: #C3F73A;
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    flex: 1;
    margin: 30px 10px;
}


.right #live {
    background-color: #00BFB2;
    border-radius: 10px;
    flex: 1;    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    margin: 30px 10px;
}

.right #time {
    flex: 1;
    background-color: #FFAD69;
    border-radius: 10px;
    margin: 30px 10px;    
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
}

.right #start {
    flex: 1;
    background-color: #F5E663;
    border-radius: 10px;
    margin: 30px 10px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
}

#start:hover {
    cursor: pointer;
}


#gameover {
    border-radius: 10px;
    background-color: #FF4754;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    width: 500px;
    height: 300px;
    z-index: 1;
    position: absolute;
    top: 220px;
    left: 350px;
    font-size: 60px;
    text-align: center;
    line-height: 150px;
    display: none;
}